@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <img class="m-3 text-center rounded mx-auto d-block" src="./images/luc.jpg" alt="Luc Besson"/>
    <h1 class="text-center" class="display-4">Люк Бессон</h1>
    <p class="fs-5">
        Народився в сім'ї інструкторів з підводного плавання і з самого дитинства готувався продовжити сімейну традицію. 
        Все дитинство він провів на узбережжі Греції і Югославії, захоплено займаючись пірнанням і підводною фотозйомкою. 
        Його мрією було стати спеціалістом з дельфінів. Однак у сімнадцять років у результаті нещасного випадку під час 
        пірнання ледь не позбувся зору і був змушений покинути свою улюблену справу.
    </p>
    <h3>Початок у кіно</h3>
    <p class="fs-5">
        Люк повертається в Париж, де пробує займатися різними справами, поки не прив'язується до кіно. 
        Він дивиться багато фільмів, працює на знімальних майданчиках, на допоміжних ролях. 
        У 19 років він їде в Голлівуд, але, попрацювавши там «хлопчиком на побігеньках», повертається на батьківщину і йде служити в армію. 
        Відслуживши три роки, він повертається до кінематографа, спочатку як постановник музичних кліпів, 
        а потім і як асистент режисера у «великому» кіно. Дебютом можна вважати короткометражну стрічку «Передостанній». 
        Першим повнометражним фільмом Бессона була «Остання битва», знята на чорно-білу плівку з метою економії коштів.<br /><br />

        Незважаючи на труднощі з бюджетом, фільм був знятий і режисер був зарахований до другої французької Нової хвилі 
        (яка починалася з Жан-Жака Анно та Леоса Каракса). Дебют виявився вдалим — картина отримала дві нагороди на фестивалі
        фантастичних фільмів у Аворіаз і ще кілька різних премій.<br /><br />

        Через рік, успіх був зміцнений картиною «Підземка» (Subway, 1985). У ній вже чітко читався специфічний стиль Бессона — 
        гримуча суміш напруженої дії і мелодраматизму. Його герої і в наступних роботах будуть займатися своєрідним «пірнанням»
        в іншу, «нерідну» їм реальність, будь то кілери з «Нікіти» і «Леона» або нирець з «Блакитної безодні». Контрастний баланс 
        між внутрішнім і зовнішнім світами дозволяє режисерові філігранно прописувати характери своїх героїв, створюючи феєрію дії і пристрастей.
        <br /><br />

        У 1988 році, Бессон знімає красиву стрічку про романтику підводного світу «Блакитна безодня» (фр. Le grand bleu). 
        Картина, пройнята ностальгією за дитячими роками і пошаною до професії водолаза і кумиру Жака Майолі, принесла Люку гроші, 
        кілька номінацій на «Сезар» (який у результаті і був вручений за роботу беззмінного композитора Бессона та звукооператора стрічки) 
        і культову славу.
    </p>
    <h3>Початок тріумфу</h3>
    <p class="fs-5">
        Справжньою ж вершиною режисерської кар'єри Бессона став наступний його фільм — Нікіта (фр. Nikita, 1990). 
        У стрічці найяскравіше проявився типовий авторський стиль оповіді, коли сюжет, що швидко розвивається, 
        знімається з воістину музичною стрункістю і скрипковою напруженістю. Картину чекав касовий успіх у США. 
        Після цієї картини, Бессон отримав загальне визнання як режисер зі світовим ім'ям. Під час зйомок фільму 
        він зламав ногу і розлучився з дружиною.<br /><br />

        Доходи, отримані від двох попередніх проектів, дозволили Бессону знову звернутися до морської теми і випустити 
        в 1991 році абсолютно некомерційний документальний науково-популярний фільм «Атлантида» (Atlantis). 
        Підводна одіссея в дусі Кусто стала своєрідним прощанням зі світом дитинства, визнанням в маною надії і любові до кінематографа.<br /><br />

        У своїй наступній, шостій по рахунку картині, «Леон» (фр. Leon, 1994), Бессон розвинув образ похмурого кілера, 
        заявлений ще у «Нікіті». Режисер вперше дозволив повністю розкритися акторському дару Жана Рено. Образ по-дитячому 
        безпосереднього і по-дорослому серйозного професійного вбивці яскраво малюється ним у цій картині через історію 
        взаємин дорослого чоловіка і дванадцятирічної дівчинки, зіграної Наталі Портман. Однак суміш американського 
        постановочного розмаху і французької сентиментальності, не зважаючи на приголомшливий успіх, так і не завоювала жодного «Сезара».<br /><br />

        У 1997 році виходить нова робота Бессона, під назвою «П'ятий елемент» (The Fifth Element). Бессон залучив 
        американських зірок — Брюса Уілліса та Гері Олдмена (останній блискуче зіграв ще в «Леоні»), а також свою 
        дружину, Міллу Йовович. На постановку було витрачено $ 90 млн, що виразилося потім в приголомшливих декораціях, 
        костюмах Жана-Поля Ґотьє і гримі. Фільм з уже традиційно чудовою музикою Еріка Серра і часом по-європейськи 
        іронічними, а часом по-американськи прямими діалогами окупився, зібравши по всьому світу $ 266 млн, послуживши 
        своєрідною відповіддю на ряд критичних уколів за тенденцію до американської уніфікації оригінального авторського стилю режисера.<br /><br />

        Наступною режисерською роботою Бессона стала історична постановка «Жанна д'Арк» все з тією ж Міллою Йовович 
        у головній ролі. Реалістична, повна батальних сцен, приголомшлива глибина візуальних образів і хвилююча музика 
        переносять глядача на п'ятсот років тому, туди, де звуки молитов заглушаються дзвоном мечів і де безпросвітні 
        ночі світили полум'ям вогнищ, що пожирали невинних жертв.<br /><br />

        Після шестирічної перерви в режисурі, Бессон повернувся до свого старого проекту, сценарій якого почав писати 
        ще десять років тому. І в 2005 році випустив фільм-мелодраму «Ангел-А» (фр. Angel-A).<br /><br />

        Наприкінці 2006 року виходить на екрани його перший фільм-казка «Артур і Мініпути», який дуже сподобався 
        багатьом дітям, а у Франції мав мало не культовий статус, який утворився ще до 2003 року, коли вийшла 
        його ж книга, за сюжетом якої було знято частину фільму. Друга частина фільму була знята за книгою 
        «Артур і заборонене місто». У другій редакції (за фільмом) книги були об'єднані в одну.<br /><br />

        У грудні 2009 року відбулася прем'єра другої частини казки про пригоди Артура, під назвою «Артур і помста Урдалака».<br /><br />

        У лютому 2010 року вийшов фільм «З Парижа з любов'ю», в якому Люк Бессон виступив продюсером.<br /><br />

        Тепер Люк Бессон працює над третім фільмом про Артура «Артур і війна двох світів», який знімається за однойменною книгою Бессона.<br /><br />

        В 2011 вийшла стрічка «Коломбіана», яку Люк Бессон продюсував.
    </p>
</div>
