<div class="container">
	<h1 class="text-center m-5">Найпопулярніші фільми Люка Бессона</h1>
	<div class="d-flex gap-5 flex-wrap justify-content-between">
		<div class="card w-25" style="width: 18rem;">
			<img src="~/images/malavita.jpg" class="card-img-top" alt="malavita">
			<div class="card-body">
				<h5 class="card-text">Малавіта (2013)</h5>
				<p class="card-text">Жанр: кримінал, комедія, бойовик</p>
				<p class="card-text">Одного разу в провінційному нормандському містечку поселяється сім’я американців — письменник Фред Блейк 
					(Роберт Де Ніро) з дружиною Меггі (Мішель Пфайффер) і собакою по кличці Малавіта. Як виявилося, під виглядом письменника 
					ховається мафіозі Джованні Манзоні, який вирішив відійти від справ і заодно здати своїх «колег» співробітникам ФБР. 
					Тепер колишній кримінальний авторитет і його сім’я в небезпеці…</p>
			</div>
		</div>
		<div class="card w-25" style="width: 18rem;">
			<img src="~/images/valerian.jpg" class="card-img-top" alt="valerian">
			<div class="card-body">
				<h5 class="card-text">Валеріан і місто тисячі планет (2017)</h5>
				<p class="card-text">Жанр: фантастика, фентезі, бойовик, пригоди</p>
				<p class="card-text">Дія розгортається в XXVIII столітті, коли людство підкорило космос і встановило контакт 
					з представниками позаземних цивілізацій. У центрі величезної Галактики знаходиться планета Альфа, куди 
					прибувають переселенці з різних світів. Однак не всі з них мають на меті мирні цілі — з цим треба розібратися 
					спецагентам Валеріану (Дейн Дегаан) і Лорелін (Кара Делевінь)…</p>
			</div>
		</div>
		<div class="card w-25" style="width: 18rem;">
			<img src="~/images/lyusi.jpg" class="card-img-top" alt="lyusi">
			<div class="card-body">
				<h5 class="card-text">Люсі (2014)</h5>
				<p class="card-text">Жанр: бойовик, фантастика</p>
				<p class="card-text">25-річна Люсі (Скарлетт Йоганссон) погоджується на підробіток і опиняється в лапах корейської мафії. 
					Під наркозом їй зашивають в живіт пакети з наркотиками, які потрібно доставити в певне місце. Втім, ніхто не міг 
					передбачити, що наркотики, які потрапили в організм, перетворять тендітну дівчину в надлюдину — з необмеженими 
					фізичними і розумовими здібностями…</p>
			</div>
		</div>
		<div class="card w-25" style="width: 18rem;">
			<img src="~/images/nikita.jpg" class="card-img-top" alt="nikita">
			<div class="card-body">
				<h5 class="card-text">Нікіта (2010)</h5>
				<p class="card-text">Жанр: бойовик, трилер, драма, кримінал, детектив</p>
				<p class="card-text">У підлітковому віці Нікіта (Меггі Кью) потрапляє в неприємну історію з пограбуванням аптеки і 
					отримує вирок — довічне ув’язнення. Після арешту дівчині роблять ін’єкцію, після чого вона втрачає свідомість. 
					Прийшовши до тями, Нікіта опиняється перед вибором — сидіти в тюрмі або стати шпигункою. Погодившись працювати 
					на секретну організацію, вона незабаром розуміє, що її зрадили…
				</p>
			</div>
		</div>
		<div class="card w-25" style="width: 18rem;">
			<img src="~/images/angel_A.jpg" class="card-img-top" alt="angel_A">
			<div class="card-body">
				<h5 class="card-text">Ангел-А (2005)</h5>
				<p class="card-text">Жанр: фентезі, драма, комедія, мелодрама</p>
				<p class="card-text">Андре (Жамель Деббуз) заборгував бандитам велику суму грошей і тепер його переслідують кредитори. 
					У розпачі хлопець вирішує накласти на себе руки, кинувшись з моста в Сену. Раптово на тому ж мосту він бачить красиву 
					дівчину в чорній сукні, яка стрибає в воду. Кинувшись слідом за незнайомкою, Андре рятує її від загибелі…</p>
			</div>
		</div>
		<div class="card w-25" style="width: 18rem;">
			<img src="~/images/raion.jpg" class="card-img-top" alt="raion">
			<div class="card-body">
				<h5 class="card-text">13-й район (2004)</h5>
				<p class="card-text">Жанр: фантастика, бойовик, кримінал, трилер</p>
				<p class="card-text">2010 рік. У деяких районах Парижа рівень злочинності настільки виріс, що було прийнято рішення 
					огородити небезпечні райони — звести бетонну стіну. Усередині цієї зони панують бандити, з якими поліція заодно. 
					В одному з небезпечних районів виявили нейтронну бомбу, і її належить знешкодити. З цією метою в зону вирушає 
					поліцейський Дам’єн (Сиріл Рафаелло)…</p>
			</div>
		</div>
	</div>
</div>